.container {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: cornsilk;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #455455;
    padding-bottom: 20px;
}

.section-top {
    background-color: #63d0fd;
    margin-bottom: 20px;
}

.section-mid {
    background-color: #d89ead;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.section-bot {
    background-color: white;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
}

img.octocat {
    height: 200px;
}